@import '../../.cache/wal/colors-waybar.css'; 

* {
    border: none;
    border-radius: 0;
    font-family: Firacode Nerd Font, Symbols Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
    min-height: 0;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

window#waybar,
tooltip {
    background-color: transparent;
}

tooltip label {
    background: @color9;
    color: #fff;
    border: 3px solid #fff;
    padding: 10px;
    border-radius: 12px;
    font-size: 13px;
    font-weight: bolder;
}

button {
    padding: 2px 4px 2px 4px;
    margin-right: 4px;
}

#workspaces {
    background: alpha(#fff,0.8);
    border-radius: 12px;
    border: 3px solid #fff;
    margin: 0 5px;
}

#workspaces button {
    background: alpha(@color9,0.7) ;
    color: #fff;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: @color9 ;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:last-child {
    margin-right: 0;
}

/* Set default style to all modules */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-cycle_wall,
#custom-expand,
#custom-updates,
#custom-ss,
#disk,
#idle_inhibitor,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#window {
    background: alpha(@color7,0.6);
    color: #fff;
    margin: 0 5px;
    padding: 0 5px;
    border: 3px solid #fff;
    border-radius: 12px;
}

#clock,
#network,
#window {
    font-weight: bolder;
}

#clock {
    font-size: 15px;
    padding: 5px 15px 2px 15px;
    min-width: 50px;
}

#custom-expand {
    font-size: 15px;
    border-radius: 12px 0 0 12px;
    margin-right: 0;
    padding-left: 5px;
    border-right: 0;
}

#cpu {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    margin: 0;
    padding: 0 5px 5px 10px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

#custom-cycle_wall,
#custom-ss {
    font-size: 15px;
    margin: 0;
    padding-right: 10px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

#battery.charging,
#battery.plugged {
    border: 3px solid white;
}

#battery {
    color: #fff;
    border: 3px solid white;
    border-radius: 12px;
    padding: 0 5px;
    font-weight: bolder;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #bf5673;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disabled {
    background-color: #45475a;
}

#network.disconnected {
    background: rgb(243, 139, 168);
    background: linear-gradient(45deg, rgba(243, 139, 168, 1) 0%, rgba(250, 179, 135, 1) 100%);
    color: #fff;
    font-weight: bolder;
}

/* #pulseaudio {
    background-color: #fab387;
    color: #bf7d54;
} */

#pulseaudio.muted {
    color: #f0796e;
}

#custom-media {
    color: #66cc99;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#bluetooth,
#custom-updates,
#pulseaudio {
    font-size: 15px;
    margin: 0;
    padding: 0 10px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#idle_inhibitor {
    font-size: 15px;
    margin-left: 0;
    padding-right: 12px;
    border-left: 0;
    border-radius: 0 12px 12px 0;
}

#idle_inhibitor.activated {
    color: rgb(92, 233, 134);
}

#custom-power,
#custom-applauncher,
#custom-ide,
#custom-browser {
    color: #fff;
    margin-right: 10px;
    padding: 0 5px;
    border: 0;
    font-size: 26px;
}
#custom-ide {
    padding: 0;
}
#custom-power {
    margin-right: 2px;
}
#custom-applauncher {
    padding-left: 0;
}

@keyframes blink {
    to {
        background-color: #f9e2af;
        color: #96804e;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* #temperature {
    margin: 0;
    border-left: 0;
    border-radius: 0 12px 12px 0;
} */

/* #custom-media.custom-vlc {
    background-color: #ffa000;
} */

/* #temperature {
    background-color: #f9e2af;
    color: #96804e;
} */

/* #temperature.critical {
    background-color: #f38ba8;
    color: #bf5673;
} */

/* #custom-weather {
    color: #fff;
    margin: 0 10px; 
    background: transparent;
    font-weight: bolder;
    padding: 0 5px;
    border: 0;
} */

/* #memory {
    background-color: #cba6f7;
    color: #9a75c7;
} */

/* #disk {
    color: #964B00;
} */

/* #backlight {
    color: #90b1b1;
} */
