@import url("./colors.css");

* {
	border: none;
	border-radius: 0;
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 11px;
	min-height: 0;
}

window#waybar {
	/* 	background-color: transparent; */
	background-color: @orange;
	color: @foreground;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden, 
window#waybar.solo, 
window#waybar.empty {
	background-color: transparent;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none; 
	border-radius: 0;
	margin-top: 5px;
	margin-bottom: 5px; 
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces{
    background-color: transparent;
    margin-top: 5px;
/*     margin-bottom: 10px; */
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    background-color: @orange ;
    border-radius: 15px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-weight: bolder;
    color: @foreground ;
}

#workspaces button.active{
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    padding-left: 20px;
    padding-bottom: 3px;
    background: rgb(202,158,230);
/*     background: linear-gradient(45deg, rgba(202,158,230,1) 0%, rgba(245,194,231,1) 43%, rgba(180,190,254,1) 80%, rgba(137,180,250,1) 100%);  */
	background: linear-gradient(45deg, @orange 0%, @cyan 43%, @pink 80%, @purple 100%); 
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: #fff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0 10px;
	color: #ffffff;
	box-shadow: inset 0 -3px transparent;
	border-radius: 15px;
	background: rgb(202,158,230);
	background: linear-gradient(45deg, rgba(202,158,230,1) 0%, rgba(245,194,231,1) 43%, rgba(180,190,254,1) 80%, rgba(137,180,250,1) 100%); 
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;
	}

#workspaces {
	margin-top: 10px;
/* 	margin-bottom: 10px; */
	/*     background-color: rgba(11, 234, 45, 0.5); */
	margin: 0 4px;
	padding: 0 5px;
	border-radius: 15px;
}

#window {
	margin-top: 10px;
/* 	margin-bottom: 10px; */
    padding: 0 5px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    background: rgb(202,158,230);
    background: linear-gradient(45deg, rgba(202,158,230,1) 0%, rgba(245,194,231,1) 43%, rgba(180,190,254,1) 80%, rgba(137,180,250,1) 100%); 
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: #fff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #64727D;
    margin-right: 5px;
    border-radius: 15px;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%;	}
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
	background-color: #9b59b6;
} 

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
	background-color: #2980b9;
} 

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
    color: #2ecc71;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
